* {
  box-sizing: border-box;
}

.dark-background {
  background-color: #2c3048;
  color: #ffffff;
}

.light-background {
   background-color: #ffffff
}

.center {
  text-align: center;
}

.general-padding {
  padding: 3em;
}


/* =================================================
                    Text Styling
================================================= */

body {
  display: inline-block;
  background-color: #ffffff;
  color: #1C1D25;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

/* Main Heading */
h1 {
  font-size: 3.5em;
  font-weight: 600;
  margin-top: 0;
}

/* Sub-Main Heading (Bordered Text) */
h2 {
  -webkit-text-stroke: 0.75px #000000;
  color: #ffffff;
  font-size: 2em;
  font-weight: 700;
  margin: 0.25em 0;
}

/* Section Heading */
h3 {
  font-size: 2em;
  font-weight: 500;
  margin: 0 0 1.5em 0;
}

/* Sub-Section Heading */
h4 {
  font-weight: 600;
  margin: 1em 0;
}

/* Captions */
h5 {
  font-size: 1em;
  font-weight: 300;
  margin: 1em;
}

/* Logo */
h6 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
}

p {
  margin: 1em 0;
}

img {
  width: 100%;
}

.role {
  display: inline-block;
  font-weight: 300;
  background-color: #f1f1f1;
  color: #4e4950;
  border-radius: 32px;
  padding: 0.5em 1em;
  margin: 1em 0.5em 0 0;
}


/* =================================================
                 Links and Buttons
================================================= */

/* Default links (no underline) */
a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

/* Button is unchanged for active and previously visited*/
.button {
  display: inline-block;
  background-color: #2c3048;
  color: #ffffff;
  font-weight: 600;
  border-radius: 32px;
  padding: 0.75em 1.5em;
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  text-decoration: none;
}

.logo {
  max-width: 250px;
  opacity: 1;
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.footer-links {
  color: #ffffff;
  font-size: 1.25em;
  font-weight: 700;
  transition: 0.2s opacity;
}

/* Main Navigation Hover/Focus */
nav > ul > li > a:hover,
nav > ul > li > a:focus {
  opacity: 0.8;
}


/* =================================================
                   Layout Styling
================================================= */

header {
  text-align: left;
  box-shadow: 0px 3px 6px 0px rgba(0, 6, 39, 0.16);
  padding: 1em 3em;
  width: 100vw;
  position: absolute;
}

footer {
  text-align: center;
  box-shadow: 0px -3px 6px 0px rgba(0, 6, 39, 0.16);
  padding: 3em;
  width: 100vw;
  position: relative;
}

nav {
  display: inline-block;
  width: auto;
  float: right;
}

nav > ul,
#footer-links,
#tools,
#takeaways {
  list-style-type: none;
  padding: 0;
}

ul > li {
  display: inline-block;
  padding-right: 1em;
}

section {
  margin: 0 0 10em 0;
}

.project-box {
  margin: 5em auto;
  background-color: #ffffff;
}
.sub-section {
  padding-top: 5em;
}


#header-container {
  height: 3.5em;
}

#hero-container {
  height: 100vh;
}

#project-hero-container {
  height: 75vh;
  max-height: 950px;
}

#skills-tools {
  margin: 5em 0;
}

#top-pointer {
  margin-bottom: 2.5em;
}

#insights {
  background-color: #E6E6F3;
  padding: 2.5em;
  margin-top: 5em;
}

.hero {
  position: absolute;
  top: 35%;
}

#my-story {
  padding: 10em 3em 3em 3em;
  margin: 0;
}

#work-pointer {
  position: absolute;
  bottom: 3em;
  transform: translateX(-50%);
}

#main-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#takeaways > li {
  display: block;
}

/* =================================================
          Medium Devices (640px and larger)
================================================= */

@media only screen and (min-width: 640px) {

body {
  font-size: 14px;
}

.hero {
  padding: 0 20%;
}

/* =================================================
          Large Devices (1024px and larger)
================================================= */

@media only screen and (min-width: 1024px) {
  body {
    font-size: 16px;
  }
}

/* =================================================
        \X-Large Devices (1440px and larger)
================================================= */

@media only screen and (min-width: 1440px) {
  body {
    font-size: 18px;
  }
}
