/* ==============================================================
                     Global / General Styling
============================================================== */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

ol > li {
  margin-bottom: 1em;
}

.med-img {
  width: 75%;
}

.large-img {
  width: 50%;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.section-margin,
.large-section-margin {
  margin: 0 3em;
}


/* ==============================================================
                          Text Styling
============================================================== */

body {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  transition: background-color 1s ease-in-out;
}

/* Main Headings */
h1 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}

/* Section Heading */
h3 {
  font-size: 1.75em;
  font-weight: 500;
  margin: 1.25em 0;
  letter-spacing: 0.5px;
}

/* Sub-Section Heading */
h4 {
  font-size: 1em;
  font-weight: 400;
  margin: 1.25em 0;
}

/* Body */
h5 {
  font-size: 1.25em;
  font-weight: 300;
  margin: 1em 0;
}

/* Project Roles */
h6 {
  color: #000;
  opacity: 40%;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 1.25em 0;
}

p {
  font-size: 1em;
  font-weight: 300;
}


/* ==============================================================
                        Header / Footer
============================================================== */

header {
  position: absolute;
  width: 100%;
}

/* .thumbnail img{
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translateX(50%);
  width: 100px;
  height: 100px;
} */

footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 3.5em 0;
}


/* ==============================================================
                              Links
============================================================== */

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.logo-link {
  position: absolute;
  left: 0%;
  z-index: 5000;
  margin: 2.5em 0 0 3.5em;
  transition: 0.2s;
}

.logo {
  line-height: 64px;
  font-size: 28px;
  font-weight: 600;
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links a {
  transition: 0.2s;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links li:last-child {
  margin-right: 0;
} 

.social-links img {
  height: 40px;
}

.logo-link:hover,
.logo-link:focus,
.social-links a:hover,
.social-links a:focus {
  transform: scale(1.05);
  opacity: 0.6;
}

/* ==============================================================
                            Navigation
============================================================== */

/*------------------------ Menu Button ------------------------*/

.menu-button {
  position: absolute;
  right: 0;
  width: 64px;
  height: 64px;
  z-index: 3000;
  margin: 2.5em 3.5em 0 0;
}

.menu-button > a {
  width: 100%;
  height: 100%;
}

.menu-icon {
  position: absolute;
  z-index: 3500;
  top: 0;
  left: 0;
  transform-origin: top;
  transform: translate(16px, 25px);
}

.menu-icon > span {
  content: "";
  display: block;
  width: 32px;
  height: 2px;
  z-index: 3750;
  background: #000;
  border-radius: 100px;
}

.menu-icon > span + span {
  margin-top: 10px;
}

.menu-circle {
  position: absolute;
  width: 64px;
  height: 64px;
  z-index: 3250;
  background: #000;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.menu-button:hover > a > .menu-icon > span {
  background: #fff;
}

.menu-button:hover > a > .menu-circle {
  opacity: 1;
}

/*------------------ Menu Button Animations -------------------*/

.close span:nth-child(1) {
  animation: ease top-menu-bar-close 0.5s forwards;
}

.close span:nth-child(2) {
  animation: ease bot-menu-bar-close 0.5s forwards;
}

@keyframes top-menu-bar-close {
  0% {
    transform: translateY(0) rotate(0);
  } 60% {
    transform: translateY(5.5px) rotate(0);
  } 100% {
    transform: translateY(5.5px) rotate(45deg);
  }
}

@keyframes bot-menu-bar-close {
  0% {
    transform: translateY(0) rotate(0);
  } 60% {
    transform: translateY(-5.5px) rotate(0);
  } 100% {
    transform: translateY(-5.5px) rotate(-45deg);
  }
}

.open span:nth-child(1) {
  animation: ease top-menu-bar-open 0.5s forwards;
}

.open span:nth-child(2) {
  animation: ease bot-menu-bar-open 0.5s forwards;
}

@keyframes top-menu-bar-open {
  0% {
    transform: translateY(5.5px) rotate(45deg);
  } 60% {
    transform: translateY(5.5px) rotate(0);
  } 100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes bot-menu-bar-open {
  0% {
    transform: translateY(-5.5px) rotate(-45deg);
  } 60% {
    transform: translateY(-5.5px) rotate(0);
  } 100% {
    transform: translateY(0) rotate(0);
  }
}

/*---------------------------- Menu ---------------------------*/

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.3s;
}

nav {
  display: block;
  position: absolute;
  top: 45%;
  margin-left: 3.5em;
  transform: translateY(-50%);
}

nav > ul {
  margin: 0;
  padding: 0;
}

nav > ul > li {
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 3.5vh;
}

nav > ul > li > a:after {
  content: '';
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.2s;
}

nav > ul > li > a:hover:after {
  transform: scaleX(1);
}

.menu-contact {
  display: block;
  position: absolute;
  bottom: 10%;
  margin-left: 3.5em;
}

.menu-mask {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: #f2f2f2;
  cursor: initial;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}


/* ==============================================================
                              Index
============================================================== */

/*---------------------------- Hero ----------------------------*/

.hero-container {
  width: 100%;
  height: 100vh;
}

.hero-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 3em;
}

.hand-wave {
  display: inline-block;
  transform-origin: bottom right;
}

.hand-wave:hover {
  animation: wave 0.8s infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0);
  } 50% {
    transform: rotate(18deg);
  } 100% {
    transform: rotate(0);
  }
}

.work-pointer {
  position: absolute;
  bottom: 3.5em;
  transform: translateX(-50%);
}

.work-pointer,
.top-pointer {
  opacity: 0.6;
  transition: 0.25s;
}

.work-pointer:hover,
.top-pointer:hover {
  opacity: 1;
}

.down-arrow,
.up-arrow {
  width: 3vw;
  min-width: 30px;
  max-width: 40px;
  transition: 0.25s;
}

.work-pointer:hover > .down-arrow {
  transform: translateY(16px);
}

.top-pointer:hover > .up-arrow {
  transform: translateY(-16px);
}

/*---------------------------- Work ----------------------------*/

.project-container {
  display: flex;
  flex-direction: column;
  margin: 3em;
}

.project-picture {
  max-width: 640px;
  max-height: 640px;
}

.project-picture img {
  border-radius: 1em;
  transition: 0.2s;
}

.project-picture:hover img {
  transform: scale(1.015);
  box-shadow: 0px 0px 24px 0px rgba(50, 50, 50, 0.1);
}

.color-white {
  background-color: #fff;
}

.color-payd {
  background-color: #f8f1ff;
}

.color-portfolio {
  background-color: #ebf1ff;
}

.color-lingually {
  background-color: #f9e7e5;
}

.color-chall {
  background-color: #f4fff7;
}

/* ==============================================================
                              About
============================================================== */

.about-container {
  margin-top: 5.5em;
}

#about-picture {
  border-radius: 1em;
}

#my-resume-button {
  margin-bottom: 3.5em;
}


/* ==============================================================
                       Project Page Layout
============================================================== */


/*----------------------- Project Hero ------------------------*/


.project-hero-container {
  position: relative;
  height: 80vh;
}

.project-hero-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);;
}


/*--------------------------- Intro ---------------------------*/

.sub-section-heading {
  display: inline-block;
  position: relative;
  text-transform: lowercase;
  opacity: 0.75;
}

.sub-section-heading:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: black;
  position: absolute;
  bottom: -4px;
  left: 0;
} 
 
/* Project logistics box */
.logistics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.1em solid #e9e9e9;
  border-radius: 0.75em;
  padding: 2em 0;
  margin: 10em 0;
}


/*---------------------- Project Content ----------------------*/

section {
  margin: 6em 0 16em 0;
}

.light-img img {
  border-radius: 1em;
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.125);
}

.project-section {
  margin: 5em 0;
}

.project-link {
  transform-origin: center;
  transition: 0.2s;
}

.project-link:hover {
  transform: scale(1.05);
}

.project-link:hover {
  transform: scale(1.05);
}

#insights {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #E6E6F3;
  padding: 2.5em;
}

.column-img {
  width: 90%;
}

iframe {
  border: 0;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.125);
}

.takeaways > li {
  display: block;
  margin-bottom: 3em;
  padding: 0;
}

.outro-pic {
  margin-bottom: 10em;
}

.payd-style-pic {
  width: 80%;
  margin: 0 auto;
}

#portfolio-mobile img {
  border-radius: 30px;
  box-shadow: 0px 0px 32px 0px rgba(50, 50, 50, 0.1);
}


/* ==============================================================
                         Misc UI Elements
============================================================== */

.story-symbols {
  font-size: 4em;
  margin: 1em 0 1em 0;
}


/* ==============================================================
               Medium Devices (640px and larger)
============================================================== */

@media only screen and (min-width: 640px) {

/*-------------------------- Navigation -----------------------*/

  .menu {
    width: 30vw;
  }

  nav,
  .menu-contact {
    margin-left: 6vw;
  }

  nav > ul > li {
    font-size: 2.75vw;
  }

/*---------------------- Index -> Hero ------------------------*/

.hero-content {
  width: 65%;
  margin: 0 auto;
}

/*----------------------- Index -> Work -----------------------*/

.project-container {
  flex-direction: row;
  width: 65%;
  height: 100vh;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
}

.project-description {
  margin-right: 3em;
  flex: 1;
}

.project-picture {
  flex: 1;
}

/*-------------------- Column -> Row Content ------------------*/

  .logistics,
  #insights {
    flex-direction: row;
  }

  
  .logistics div:nth-of-type(1) {
    margin-left: 4.5em;
  }

  .logistics div:nth-of-type(3) {
    margin-right: 4.5em;
  }

}


/* ==============================================================
               Large Devices (1024px and larger)
============================================================== */


@media only screen and (min-width: 1024px) {

  body {
    font-size: 18px;
  }

  h1 {
    font-size: 3vw;
  }

  .section-margin {
    margin: 0 10em;
  }

  /*---------------------------- Header --------------------------*/

  .logo-link,
  .menu-button {
    position: fixed;
  }

/*---------------------------- Project-- -----------------------*/

  .two-column-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0;
  }

  .two-column {
    width: 50%;
    margin: 0 1em;
  }

  .two-column-layout{
    flex-direction: row;
  }

  #portfolio-mobile {
    align-items: flex-start;
    max-width: 1000px;
  }

  #portfolio-mobile img {
    max-width: 500px;
    max-height: 872px;
  }

  .column-margin {
    margin-top: 9em;
  }

  .column-margin-small {
    margin-top: 4em;
  }

}


/* ==============================================================
               X-Large Devices (1440px and larger)
============================================================== */


@media only screen and (min-width: 1440px) {

  body {
    font-size: 22px;
  }

  .section-margin {
    width: 50%;
    margin: 0 auto;
  }

  .large-section-margin {
    width: 60%;
    margin: 0 auto;
  }

  .portfolio-hand-wave {
    font-size: 5em;
  }  

}