/* ==============================================================
                          General Styling
============================================================== */

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.center {
  text-align: center;
  margin: 0 auto;
  align-items: center;
}

/* ==============================================================
                            Colors
============================================================== */

.color-brand {
  background-color: #f1f5ff;
}

.color-mesh,
.color-portfolio {
  background-color: #eef5ff;
}

.color-payd {
  background-color: #f8f7ff;
}

.box-shadow img {
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
}


/* ==============================================================
                          Text Styling
============================================================== */

body {
  display: block;
  width: 100vw;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  transition: background-color 1s ease-in-out;
  padding: 0 30px;
  margin: 0 auto;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 1.3333em;
  font-weight: 500;
  margin: 0;
}

p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25;
}

button {
  font-size: 1em;
  padding: 0.3333em 1em;
  margin: none;
}


/* ==============================================================
                              Header
============================================================== */

#header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin-left: -30px;
  padding: 30px;
  background-color: #fff;
  z-index: 2;
}


/*----------------------------- Logo --------------------------*/

.logo {
  font-size: 28px;
  font-weight: 600;
  transition: 0.1s;
}

.logo:hover {
  transform: scale(1.05);
}


/*------------------------ Navigation -------------------------*/

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 92px;
  width: 100vw;
  margin-left: -30px;
  padding: 30px;
  gap: 18px;
  z-index: 10;
  background-color: white;
  border: 1px solid #efefef;
  visibility: hidden;
}

nav > div > a {
  font-size: 1.1111em;
  font-weight: 400;
  display: flex;
  align-items: center;
}

nav > div > a:hover,
nav > div > div >a:hover {
  opacity: 0.5;
}


/*--------------------- Navigation Icon -----------------------*/

.menu-icon {
  display: block;
  cursor: pointer;
}

.menu-icon > span {
  display: block;
  width: 28px;
  height: 2px;
  margin: 10px auto;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}


/*----------------- Navigation Icon Animation -----------------*/

.close span:nth-child(1) {
  animation: ease top-menu-bar-close 0.5s forwards;
}

.close span:nth-child(2) {
  animation: ease bot-menu-bar-close 0.5s forwards;
}

@keyframes top-menu-bar-close {
  0% {
    transform: translateY(0) rotate(0);
  } 60% {
    transform: translateY(6px) rotate(0);
  } 100% {
    transform: translateY(6px) rotate(45deg);
  }
}

@keyframes bot-menu-bar-close {
  0% {
    transform: translateY(0) rotate(0);
  } 60% {
    transform: translateY(-6px) rotate(0);
  } 100% {
    transform: translateY(-6px) rotate(-45deg);
  }
}

.open span:nth-child(1) {
  animation: ease top-menu-bar-open 0.5s forwards;
}

.open span:nth-child(2) {
  animation: ease bot-menu-bar-open 0.5s forwards;
}

@keyframes top-menu-bar-open {
  0% {
    transform: translateY(6px) rotate(45deg);
  } 60% {
    transform: translateY(6px) rotate(0);
  } 100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes bot-menu-bar-open {
  0% {
    transform: translateY(-6px) rotate(-45deg);
  } 60% {
    transform: translateY(-6px) rotate(0);
  } 100% {
    transform: translateY(0) rotate(0);
  }
}


/* ==============================================================
                              Footer
============================================================== */

/*--------------------------- Footer --------------------------*/

#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

footer:before {
  content: "";
  display: block;
  height: 1px;
  background: #afafaf;
}


/*-------------------------- Socials --------------------------*/

.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1.3333em;
}

.socials > div > a:hover {
  opacity: 0.5;
}


/* ==============================================================
                          Interactions
============================================================== */

/*-------------------------Footer Finger ----------------------*/

.footer-finger {
  display: inline-block;
  transform-origin: top center;
}

.footer-finger:hover {
  animation: point 0.75s infinite;
  cursor: pointer;
}

@keyframes point {
  0% {
    transform: translateX(0);
  } 50% {
    transform: translateX(5px);
  } 100% {
    transform: translateX(0);
  }
}


/* ==============================================================
                Medium Devices (640px and larger)
============================================================== */

@media only screen and (min-width: 640px) {

/*-------------------------- Layout ---------------------------*/

body {
  font-size: 16px;
  padding: 0 80px;
}

#header {
  width: auto;
  position: relative;
  margin: 0;
  background-color: transparent;
}

#header,
#footer {
  padding: 80px 0;
}

/*------------------------ Text Style -------------------------*/

h1,
h2 {
  font-size: 2em;
}


/*-------------------------- Navigation -----------------------*/
  
nav {
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  gap: 1.3333em;
  transform: none;
  visibility: visible;
}

.menu-icon  {
  display: none;
}
}


/* ==============================================================
               Large Devices (1024px and larger)
============================================================== */

@media only screen and (min-width: 1024px) {

/*-------------------------- Layout ---------------------------*/

body {
  font-size: 18px;
  max-width: 1440px;
}

#footer {
  flex-direction: row;
}

/*------------------------ Text Style -------------------------*/

h1,
h2 {
  font-size: 3em;
}

}