.nslider {
    min-width: 200px;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.nslider .nslider-wrapper {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    -webkit-transition: left 0.3s ease-out;
    -moz-transition: left 0.3s ease-out;
    -ms-transition: left 0.3s ease-out;
    -o-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out;
}

.nslider .nslider-slide {
    min-width: 200px;
    width: 100%;
    height: auto;
    padding: 0 20px;
}

.nslider .nslider-button {
    position: absolute;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 100ch;
    top: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(36, 36, 36, 0.15);
    transform-origin: center;
    transition: all 0.2s;
}

.nslider .nslider-button:hover {
    transform: scale(1.1);
}

.nslider .nslider-button > * {
    width: 20px;
    height: 20px;
}

.nslider .nslider-button.nslider-button-prev {
    left: 30px;
}

.nslider .nslider-button.nslider-button-next {
    right: 30px;
}

.nslider .nslider-dots {
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nslider .nslider-dots .nslider-dot {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background: #ffffff;
    margin-right: 0.5em;
    opacity: 0.75;
    cursor: pointer;
    transform-origin: center;
    transition: all 0.2s linear;
}

.nslider .nslider-dots .nslider-dot:last-child {
    margin-right: 0;
}

.nslider .nslider-dots .nslider-dot.active {
    opacity: 1;
    transform: scale(1.25);
}

.nslider .nslider-dots .nslider-dot:hover,
.nslider .nslider-dots .nslider-dot:focus {
    transform: scale(1.25);
}
