.ripple-button {
    text-align: center;
    margin: 2.5em;
}

.ripple-button > a,
.ripple-button > button {
    border: 2px solid black;
    border-radius: 32px;
    color: black;
    display: inline-block;
    font-size: 1em;
    overflow: hidden;
    padding: 12px 30px;
    position: relative;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
  
.ripple-button > a:hover,
.ripple-button > button:hover {
color: #ffffff;
}

.ripple-button > a > span,
.ripple-button > button > span {
  background-color: black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  display: block;
  height: 0;
  position: absolute;
  -webkit-transform: translate(-50%,-49%);
  -moz-transform: translate(-50%,-49%);
  -ms-transform: translate(-50%,-49%);
  -o-transform: translate(-50%,-49%);
  transform: translate(-50%,-49%);
  -webkit-transition: height 0.8s, width 0.8s;
  -moz-transition: height 0.8s, width 0.8s;
  -ms-transition: height 0.8s, width 0.8s;
  -o-transition: height 0.8s, width 0.8s;
  transition: height 0.8s, width 0.8s;
  width: 0;
  z-index: -1;
}

.ripple-button > a:hover > span,
.ripple-button > button:hover > span {
  height: 800px;
  width: 800px;
}